* {
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;

}
/* Body */

body {

}
/* Container */

.container {
    width: 100%;
    height: auto;

}

/* Header */

.navtop_left {
    height: 70px;
    width: 50%;
    background-color: #f5f8fb;
    text-decoration: none; /* non funziona */

}

.navtop_right {
    float: right;
    background-color: #f5f8fb;
}


.menu {
    height: 80px;
    background-color: red;

}

.jumbo {
    height: 600px;
    position: relative;

}

img {
    display: inline-block;
    margin:auto;
    bottom: 0;
    max-width: auto;
    vertical-align: middle;
    position: absolute;
    z-index: 1;

}
/* Sections */

.section1 {
    height: 450px;
    background-color: yellow;

}

.sction1, logo {
    background-image: url(https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png);
}
.section2 {
    height: 630px;
    background-color: orange;
}

.section3 {
    height: 290px;
    background-color: white;
}

.section4 {
    height: 670px;
    background-color: orange;
}

.section5 {
    height: 660px;
    background-color: blue;
}

/* Footer */

footer {
    margin: auto;
    width: 100%;
    height: 140px;
    background-color: black;
}
