* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/* Body */

body {
    font-family: 'Nunito Sans', sans-serif;


}
/* Container */

.container, container2, container3, container4, container5, container6, container7, container8, container9, container10, container11, container12 {
    width: 1080px;
    height: auto;
    margin: 0 auto;

}

.jumbo, button {
    padding: 30px 65px;
    background-color: #ff7a59;
    border-radius: 3px;


}


/* Header */


.navtop:after {
    clear: both;
    display: table;
    content: "";

}

.logomondo {
    float:left;
    margin-right: 8px;
}
.navtop_left {
    float: left;
    height: 70px;
    width: 50%;
    background-color: #f5f8fb;
    padding: 22px;


}

.texto1 {
    text-decoration: none;
}

.navtop_right {

    height: 70px;
    width: 50%;
    float: right;
    background-color: #f5f8fb;
    padding: 22px;


}

.navtop::after {
    clear: both;
    display: table;
    content: "";
}

.search {
    margin-left: 35%;
}



.search {
    float: left;
    width: 35px;
    height: 50px;
}

.cta_login {
    cursor: pointer;
    text-align: center;
    float: left;
    line-height: 1.25;
    width: 60px;
    border: 1px solid;
    border-color: #ff7a59;
    height: 30px;
    margin-right:: 7px;
    font-color: orange;
    font-size: 12px;
    background-color: white;
    color: #ff7a59;
    border-radius: 3px;

}

.cta_get_hubspotfree {
    cursor: pointer;
    text-align: center;
    float: left;
    font-size: 12px;
    color: white;
    background-color: #ff7a59;
    border: 1px #ff7a59 solid;
    width: 150px;
    height: 30px;
    margin-left: 7px;
    border-radius: 3px;



}


.menu {

    /* background-image: url(https://www.hubspot.com/hubfs/HubSpot_Logos/HSLogo_color.svg); */

}

.menu:after {
        clear: both;
        display: table;
        content: "";
}

.jumbo {
    height: 600px;
    position: relative;
    background-color: #fbf1ee;
    /* background-image: url("https://i.postimg.cc/W4tGDrzm/Immagine.png"); */
    background-repeat: no-repeat;
    background-position: bottom;
}

.homepage-text {
    max-width: 500px;
    text-align: left;
    z-index: 2;
    position: relative;
    padding: 50px;
}


h1 {
    font-size: 3.438rem;
    line-height: 1.1818;
}

h2 {
    text-align: center;
}


p {
    font-size: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

img {
    margin: 2%;

}
/* Sections */

.section1 {
    height: 450px;
    background-color: #f5f8fb;

}

.sction1, logo {
    cursor: pointer; /* non funziona */
    background-image: url(https://www.hubspot.com/hubfs/assets/hubspot.com/home/2018/Integrations_Illustration@2x.png);

}

.section2 {
    height: 630px;
    background-color: #57b8ac;
}

.section3 {
    height: 290px;
    background-color: #fefefe;
}

.section4 {
    height: 670px;
    background-color: orange;
}

.section5 {
    height: 660px;
    background-color: blue;
}
.section6 {
    height: 656px;
    background-color: #33475b;
}



/* Footer */

footer {
    margin: auto;
    width: 100%;
    height: 140px;
    background-color: pink;
}
